<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories!</title>

    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>
<header>
    <img src="./images/fox.png" height="80" width="80">
    <h1>List of Categories</h1> 
</header>
<body>
    <ul>
        <li>General Knowledge</li>
        <li>Entertainment
            <ul>
                <li>Books</li>
                <li>Film</li>
                <li>Music</li>
                <li>Musicals & Theatre</li>
                <li>Television</li>
                <li>Video Games</li>
                <li>Board Games</li>
                <li>Comics</li>
                <li>Japanese Anime & Manga</li>
                <li>Cartoons & Animations</li>
            </ul>
        <li>Science
            <ul>
                <li>Nature</li>
                <li>Computers</li>
                <li>Mathematics</li>
                <li>Gadgets</li>
            </ul>
        </li>
        <li>Mythology</li>
        <li>Sports</li>
        <li>Geography</li>
        <li>History</li>
        <li>Politics</li>
        <li>Art</li>
        <li>Celebrities</li>
        <li>Animals</li>
        <li>Vehicles</li>
    </ul>
</body>
<hr>
<footer>
    <p>API Link: <a target="_blank" href="https://opentdb.com">Open Trivia Database!</a> | Avyukth Selvadurai | <a href="./">Home</a> | <a target="_blank" href="https://github.com/Avy4">Github</a></p>
</footer>
<hr>
</html>