<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzas In College Park</title>

    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>
<header>
    <img src="./images/duck.png" height="70" width="70">
    <h1>Quizzas In College Park</h1> 
</header>   
<body>
    <div>
        <div class="div-inside">
            <img src="./images/cat.png" height="80" width="80">
            <a href="./leaderboard.ejs">Leaderboard!</a>
        </div>
        <div class="div-inside">
            <img src="./images/fox.png" height="80" width="80">
            <a href="./categoryList.ejs">Category List!</a>
        </div>
    </div>
    <div class="div-center">
        <h2>Start Quizzin!</h2>
        <a href="./quiz/quizSetup.ejs"><img src="./images/rabbit.png"></a>
    </div>
</body>
<hr>
<footer>
    <p>API Link: <a target="_blank" href="https://opentdb.com">Open Trivia Database!</a> | Avyukth Selvadurai | <a href="./">Home</a> | <a target="_blank" href="https://github.com/Avy4">Github</a></p>
</footer>
<hr>
</html>