<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score!</title>
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<header>
    <img src="/images/goldfish.png" height="80" width="80">
    <h1>Score!</h1> 
</header>
<body>
    <div class="div-center">
        <h2>You got <%- total_correct %>/<%- len %></h2>
    </div>
</body>
<hr>
<footer>
    <p>API Link: <a target="_blank" href="https://opentdb.com">Open Trivia Database!</a> | Avyukth Selvadurai | <a href="/">Home</a> | <a target="_blank" href="https://github.com/Avy4">Github</a></p>
</footer>
<hr>
</html>